{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}


  {% if content %}
    <figure class="slick__item">
      {{ content.field_media_image_2  }}
      {% if content.field_pie_de_foto | render | striptags | trim != '' %}
        <figcaption>{{ content.field_pie_de_foto }}</figcaption>
      {% endif %}
      <div class="slick__magnify">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" ><path d="M31.008 27.231l-7.58-6.447c-.784-.705-1.622-1.029-2.299-.998a11.954 11.954 0 0 0 2.87-7.787c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12c2.972 0 5.691-1.081 7.787-2.87-.031.677.293 1.515.998 2.299l6.447 7.58c1.104 1.226 2.907 1.33 4.007.23s.997-2.903-.23-4.007zM12 20a8 8 0 1 1 0-16 8 8 0 0 1 0 16z"/></svg>
      </div>
    </figure>
  {% endif %}
