{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}

<section{{ attributes }}>
  {% if content %}
    <figure>
      {{ content.field_media_image_2 }}
      {% if content.field_pie_de_foto | render | striptags | trim != '' %}
        <figcaption>{{ content.field_pie_de_foto }}</figcaption>
      {% endif %}
    </figure>
  {% endif %}
  </section>
