{% set flag_status = drupal_view('flag_status', 'default', node.id())%}
{% set hasImage = true %}

{%  if content.field_imagen_portada | render | striptags('<img>') | trim == ''
    and drupal_view('imagen_alt', 'default', node.id() ) | render | striptags('<img>') | trim == ''
%}
  {% set hasImage = false %}
{% endif %}

{%
  set classes = [
    'contenido',
    'contenido--teaser',
    flag_status | render | striptags | trim,
    hasImage ? '' : 'contenido--noimg'
  ]
%}

{% if content.field_color | render | striptags | trim == 'black' or content.field_color | render | striptags | trim == '' %}
  {% set datacolors = "#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F" %}
{% else %}
  {% set datacolors = content.field_color | render | striptags | trim %}
{% endif %}




<article{{ attributes.addClass(classes) }}>  
  <div class="contenido__inner">
    <div class="tooltip__parent contenido__leido">
        <span class="contenido__leido__mark">●</span>
        <div class="tooltip tooltip--bottom">
          {{ 'Seen' | t }}
        </div>
    </div>
    <a href="{{ i18n_url }}" class="contenido__link-layer"></a>
    <div class="contenido__fit">
      {% if content.field_imagen_portada | render | striptags('<img>') | trim %}
        {{ content.field_imagen_portada }}
      {% else %}
        {{ drupal_view('imagen_alt', 'default', node.id() )}}
      {% endif %}
    </div>
    <div class="contenido__title js-randomcolor" data-colors="{{ datacolors }}">
      <h1>
        {{ label }}
      </h1>
      <p class="contenido__subtitulo">{{ content.field_subtitulo}}</p>
      <p class="contenido__autor">{{ author_name }}</p>
    </div>
  </div>
</article>

