{% set hasImage = true %}

{%  if content.field_imagen_portada | render | striptags('<img>') | trim == ''
    and drupal_view('imagen_alt', 'default', node.id() ) | render | striptags('<img>') | trim == ''
%}
  {% set hasImage = false %}
{% endif %}

<article{{ attributes.addClass('miniteaser') }}>
  <a href="{{ i18n_url }}" class="link__layer"></a>
  {% if hasImage %}
    <div class="miniteaser__thumb">
        {% if content.field_imagen_portada | render | striptags('<img>') | trim %}
          {{ content.field_imagen_portada }}
        {% else %}
          {{ drupal_view('imagen_alt', 'default', node.id() )}}
        {% endif %}
    </div>
  {% endif %}
  <div class="miniteaser__text">
    <h1 class="miniteaser__title"><a href="{{url}}">{{ label }}</a></h1>
    <div class="miniteaser__autor">{{ author_name }}</div>
  </div>
</article>
