{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}


<article class="busqueda">
  <div class="busqueda__tipo">
    {{ "Project" | t}}
  </div>
  <div class="busqueda__resumen">
    <a href="{{ url }}" class="link_layer"></a>
    {% if content.field_imagen_portada | render | striptags('<img>') | trim != '' %}
      <div class="busqueda__thumb">
        {{ content.field_imagen_portada }}
      </div>
    {% endif %}
    <div class="busqueda__text">
      <h1 class="h4 busqueda__title">
        {{ label }}
      </h1>
      <p class="busqueda__desc">
        {{ content.body | render | striptags }}
      </p>
    </div>
  </div>
</article>
