


{% set nid = content.field_proyecto | render | striptags | trim %}

  <div class="views-row">
    <article class="contenido contenido--teaser contenido--first">  
      <div class="contenido__inner">
        {% if content.field_enlace | render | striptags | trim != '' %}
          <a href="{{ content.field_enlace | render | striptags | trim }}" class="contenido__link-layer"></a>
        {% else %}
          <a href="{{ path('entity.node.canonical', {'node': nid }) }}" class="contenido__link-layer"></a>
        {% endif %}

        <div class="contenido__fit">
          {% if content.field_imagen | render | striptags('<img>') | trim == '' %}
            {{ drupal_field('field_imagen_portada', 'node', nid) }}
          {% else %}
            {{ content.field_imagen }}
          {% endif %}
        </div>
        <div class="contenido__title js-randomcolor" data-colors="{{ content.field_color | render | striptags | trim }}">
          <p class="contenido--first__ms">
            <span>Mental<strong>Stones</strong>Site</span>
          </p>
          {% if content.field_titulo | render | striptags | trim != '' or drupal_field('title', 'node', nid) | render | striptags | trim != '' %}
            <span class="contenido--first__presenta">Residencias</span>
          {% endif %}
          <h1>
            {% if content.field_titulo | render | striptags | trim == '' %}
              {{ drupal_field('title', 'node', nid) }}
            {% else %}
              {{ content.field_titulo }}
            {% endif %}
          </h1>
        </div>
      </div>
    </article>
  </div>