{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}

<section{{ attributes.addClass('profile profile--mini clearfix') }}>
  {% if content.field_imagen_de_perfil | render | trim != '' %}
    <div class="profile__img">{{ content.field_imagen_de_perfil }}</div>
  {% endif %}
  <div class="profile__desc">
    <h2 class="profile__name">{{ content.linked_username }} </h2>
    {{ content.field_descripcion }}
  </div>
</section>