{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}

{% if content | render | trim != '' %}
  <section{{ attributes.addClass('profile-mini') }}>

    <div class="profile-mini__img">
      {% if content.field_imagen_de_perfil | render | trim != '' %}
        {{ content.field_imagen_de_perfil }}
      {% else %}
        <img src="/themes/custom/mentalstones/images/anonimo.jpg" alt="Usuario anonimo">
      {% endif %}
    </div>

    <div class="profile-mini__user">
      {{ content.linked_username }}
    </div>

  </section>
{% endif %}
