{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}

{% if content.field_descripcion | render | striptags | trim != '' %}
  <section{{ attributes.addClass('profile clearfix') }}>
    {% if content.field_imagen_de_perfil | render | trim != '' %}
      <div class="profile__img">{{ content.field_imagen_de_perfil }}</div>
    {% endif %}
    {% if content.field_descripcion | render | striptags | trim != '' %}
      <div class="profile__desc">{{ content.field_descripcion }}</div>
    {% endif %}
  </section>
{% else %}
  {{ drupal_view('user_message', 'default') }}
{% endif %}

{{ content.private_message_link }}

{{ attach_library('mentalstones/user') }}

<div id="tabs">
  <ul>
    <li><a href="#tab1">{% trans %}Content by {{ user.name.value }}{% endtrans %}</a></li>
    <li><a href="#tab2">{{ "Favorites" | t }} </a></li>
  </ul>
  <section id="tab1" class="contentlist micontenido">
    <h1 class="escondido">Contenidos del usuario</h1>
    {{ drupal_view('contenidos_de_usuario')}}
  </section>

  <section id="tab2" class="contentlist favoritos">
    <h1 class="escondido">Favoritos del usuario</h1>
    {{ drupal_view('favoritos_de_usuario')}}
  </section>
</div>
