.iframe #main-wrapper {
    padding:0;
}

.iframe-header {
    margin:0 0 30px;
    text-align:center;
}

@media (min-width:640px) {
    .iframe-header {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }   
}

.iframe-header .rrss__facebook,
.iframe-header .rrss__twitter,
.iframe-header .rrss__instagram  {
    background:transparent;
    border:2px solid#3b5998;
    border-radius:50%;
    width:2rem;
    height:2rem;
    text-align:center;
    margin:0 5px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.iframe-header .rrss__twitter { border-color: #00aced}
.iframe-header .rrss__instagram { border-color: #8a3ab9}

.iframe-header .rrss__facebook svg,
.iframe-header .rrss__twitter svg,
.iframe-header .rrss__instagram svg {
    height:1rem;
    width:auto;
    fill:#3b5998;
}

.iframe-header .rrss__twitter svg { fill: #00aced}
.iframe-header .rrss__instagram svg { fill: #8a3ab9}


.iframe-header .rrss__facebook:hover { background:#3b5998; }
.iframe-header .rrss__twitter:hover { background: #00aced}
.iframe-header .rrss__instagram:hover { background: #8a3ab9}


.iframe-header .rrss__facebook:hover svg,
.iframe-header .rrss__twitter:hover svg, 
.iframe-header .rrss__instagram:hover svg {
    fill:#fff;
}

.iframe-logo {
    margin:0 0 15px 0;
    text-align:center;
    line-height: 0.7;
}

.iframe__rrss {
    display:flex;
    justify-content:center;
    margin-bottom:15px;
}

@media (min-width:640px) {
    .iframe__rrss {
        margin-left:15px;
        margin-bottom:0;
    } 
}

@media (min-width:640px) {
    .iframe-logo {
        margin-bottom:0;
    }
}

.iframe-logo__ms {
    font-size:40px;
    color: #1b1b1b !important;
}

.iframe-logo__ms:hover,
.iframe-logo__ms:focus {
    color:#445274 !important;
}


.iframe .cuadricula .views-row,
.iframe .cuadricula .views-row:first-child {
    width:50% !important;
    float:left;
}

@media (min-width:640px) {
    .iframe-logo__ms {
        font-size:60px;
    }
}

@media (min-width:960px) {
    .iframe .cuadricula .views-row,
    .iframe .cuadricula .views-row:first-child {
        width:25% !important;
    }
}

@media (min-width:1120px) {
    .iframe .cuadricula .views-row,
    .iframe .cuadricula .views-row:first-child {
        width:25% !important;
    }
}

.iframe .cuadricula .views-row:first-child .contenido__title {
    position:absolute !important;
}

.iframe .cuadricula .views-row:first-child .contenido--teaser {
    margin-bottom:0;
}

.iframe .cuadricula .views-row:first-child .contenido--teaser:hover .contenido__title {
    opacity:0
}

.iframe-button {
    margin: 0 auto;
    font-weight:normal;
}

@media (min-width:640px) {
    .iframe-button { display:none }
}

.link-layer {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:999;
}