@media (min-width:640px) {
    .cuadricula .views-row:first-child {
        width:50% !important;
    }
}

@media (min-width:960px) {
    .cuadricula .views-row:first-child {
        width:33.33% !important;
    }
}

@media (min-width:1120px) {
    .cuadricula .views-row:first-child {
        width:25% !important;
    }
}

.cuadricula .views-row:first-child .contenido__inner {
    padding-bottom:100% !important;
}

.cuadricula {
    background-image: url(/themes/custom/mentalstones/images/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}