{#
/**
 * @file
 * Default theme implementation to format the simplenews newsletter body.
 *
 * Copy this file in your theme directory to create a custom themed body.
 * Rename it to override it. Available templates:
 *   simplenews-newsletter-body--[newsletter_id].html.twig
 *   simplenews-newsletter-body--[view mode].html.twig
 *   simplenews-newsletter-body--[newsletter_id]--[view mode].html.twig
 * See README.txt for more details.
 *
 * Available variables:
 * - build: Render array. Use {{ build }} to print it.
 * - node: object(Drupal\node\Entity\Node)
 *   The node entity with limited access to object properties and methods.
 *   * Methods: Only "getter" methods (method names starting with "get", "has", or "is")
 *     and a few common methods such as "id" and "label" are available.
 *     {{ node.getTitle }} : the Node title ( == {{ title }} )
 *     Calling other methods (such as node.delete) will result in an exception.
 *   * Properties: field values can be accessed as follows:
 *     {{ node.body.value | raw }} : text of body field
 * - newsletter: object(Drupal\simplenews\Entity\Newsletter)
 *     {{ newsletter.from_name }}: string
 *     {{ newsletter.subject }}: string
 * - title: Node title
 * - view_mode: The active display view mode of the node
 * - key: email key [node|test]
 * - format: newsletter format [plain|html]
 * - simplenews_subscriber: object(Drupal\simplenews\Entity\Subscriber)
 *   The subscriber for which the newsletter is built.
 *     {{ simplenews_subscriber.getMail  }}: string: subscriber's email address
 *   Note that depending on the used caching strategy, the generated body might
 *   be used for multiple subscribers. If you created personalized newsletters
 *   and can't use tokens for that, make sure to disable caching or write a
 *   custom caching strategy implemention.
 *
 * @see template_preprocess_simplenews_newsletter_body()
 */
#}

{% if node.field_logo.value | raw == "eem" %}
    <img width="350" style="margin:0; display:inline-block; vertical-align:middle; width:350px; height:auto" src="image:/themes/custom/mentalstones/images/logoeem.png">
{% elseif node.field_logo.value | raw == "ms" %}
    <img width="350" style="margin:0; display:inline-block; vertical-align:middle; width:350px; height:auto" src="image:/themes/custom/mentalstones/images/logoms.jpg">
{% elseif node.field_logo.value | raw == "ambos" %}
    <img width="350" style="margin:0; display:inline-block; vertical-align:middle; width:350px; height:auto" src="image:/themes/custom/mentalstones/images/logoeem.png">
    <img width="350" style="margin:0; display:inline-block; vertical-align:middle; width:350px; height:auto" src="image:/themes/custom/mentalstones/images/logoms.jpg">
{% endif %}

<div>{{ node.body.value | raw }}</div>
<p>&nbsp;</p>

{% if node.field_mostrar_ultimos_proyectos.value | raw == 1 %}
    {{ drupal_view('mail_items', 'default') }}
{% endif %}

{% if not opt_out_hidden %}
    {% if format == 'html' %}
        <p style="font-size:14px; color:#888" class="newsletter-footer">
            ¿No quieres recibir más e-mails como este?
            <a
                    href="[simplenews-subscriber:unsubscribe-url]">Darse de baja</a>
        </p>
    {% else %}
        -- {{ unsubscribe_text }} : [simplenews-subscriber:unsubscribe-url]
    {% endif %}
{% endif %}

{% if key == 'test' %}
    - - - {{ test_message }} - - -
{% endif %}
