{#
/**
 * @file
 * Theme override for an image field widget.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - data: Render elements of the image widget.
 *
 * @see template_preprocess_image_widget()
 */
#}

<div{{ attributes }}>

  {% if data.preview | render != '' %}
    <div class="image-widget__preview">
      {{ data.preview }}
      {{ data.alt }}
    </div>
  {% endif %}

  {% if data.remove_button | render != '' %}
    <div class="image-widget__operations">
      <span class="image-widget__delete">{{ data.remove_button }}</span>
    </div>
  {% endif %}

  {# Render widget data without the image preview that was output already. #}
  
  {# Mantiene oculto el form input #}
  <div class="escondido">{{ data.upload }}</div>
  
  {{ data.upload_button }}
  {{ data.focal_point}}
  {{ data.fids }}
  {{ data.display }}
</div>
