{#
/**
 * @file
 * Theme override to list node types available for adding content.
 *
 * This list is displayed on the Add content admin page.
 *
 * Available variables:
 * - types: A list of content types, each with the following properties:
 *   - add_link: Link to create a piece of content of this type.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_node_add_list()
 */
#}


<ul class="create">
  {% for type in types %}
    <li class='create__item create--{{ type.type }}'>
      <span class="icon icon-{{ type.type }}"></span>
      <div class="h3">{{ type.type }}</div>
      {{ type.add_link }}
    </li>
  {% endfor %}
</ul>
