{#
/**
 * @file
 * Theme override for the messages block.
 *
 * Removes wrapper elements from block so that empty block does not appear when
 * there are no messages.
 *
 * Available variables:
 * - content: The content of this block.
 */
#}
<div{{ attributes }}>
    {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    <div class="content">
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>
</div>
