{#
/**
 * @file
 * Default theme implementation for flag links.
 *
 * Available variables:
 * - attributes: HTML attributes for the link element.
 * - title: The flag link title.
 * - action: 'flag' or 'unflag'
 * - flag: The flag object.
 * - flaggable: The flaggable entity.
 */
#}
{% spaceless %}
{# Attach the flag CSS library.#}
{{ attach_library('flag/flag.link') }}

{# Depending on the flag action, set the appropriate action class. #}
{% if action == 'unflag' %}
    {% set action_class = 'action-unflag' %}
    {% set action_state = '--on' %}
{% else %}
    {% set action_class = 'action-flag' %}
    {% set action_state = '--off' %}
{% endif %}

{# Set the remaining Flag CSS classes. #}
{% set classes = [
'flag',
'flag__' ~ flag.id(),
'flag__' ~ flag.id() ~ action_state,
'flag__' ~ flag.id() ~ '--' ~ flaggable.id(),
action_class,
'tooltip__parent'
] %}

{# Set nofollow to prevent search bots from crawling anonymous flag links #}
{% set attributes = attributes.setAttribute('rel', 'nofollow') %}

<div class="{{classes|join(' ')}}">
    <a{{ attributes }}>
        <div class="flag__star--off">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><title> star-empty</title><path d="M32 12.4l-11.1-1.6-4.9-10-4.9 10-11.1 1.6 8 7.8-1.9 11 9.9-5.2 9.9 5.2-1.9-11 8-7.8zM16 23.5l-7 3.7 1.3-7.8-5.6-5.5 7.8-1.1 3.5-7.1 3.5 7.1 7.8 1.1-5.6 5.5 1.3 7.8-7-3.7z"/></svg>
        </div>
        <div class="flag__star--on">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><title> star-full</title><path d="M32 12.4l-11.1-1.6-4.9-10-4.9 10-11.1 1.6 8 7.8-1.9 11 9.9-5.2 9.9 5.2-1.9-11 8-7.8z"/></svg>
        </div>
    </a>
    <div class="tooltip tooltip--top">
        {{ title }}
    </div>
</div>
{% endspaceless %}
