{#
/**
 * @file
 * Default theme implementation for flag links.
 *
 * Available variables:
 * - attributes: HTML attributes for the link element.
 * - title: The flag link title.
 * - action: 'flag' or 'unflag'
 * - flag: The flag object.
 * - flaggable: The flaggable entity.
 */
#}
{% spaceless %}
{# Attach the flag CSS library.#}
{{ attach_library('flag/flag.link') }}

{# Depending on the flag action, set the appropriate action class. #}
{% if action == 'unflag' %}
    {% set action_class = 'action-unflag' %}
    {% set action_state = '--on' %}
{% else %}
    {% set action_class = 'action-flag' %}
    {% set action_state = '--off' %}
{% endif %}

{# Set the remaining Flag CSS classes. #}
{% set classes = [
'flag',
'flag__' ~ flag.id(),
'flag__' ~ flag.id() ~ action_state,
'flag__' ~ flag.id() ~ '--' ~ flaggable.id(),
action_class
] %}

{# Set nofollow to prevent search bots from crawling anonymous flag links #}
{% set attributes = attributes.setAttribute('rel', 'nofollow') %}

<div class="{{classes|join(' ')}}"><a{{ attributes }}>{{ title }}</a></div>
{% endspaceless %}
