

  
{% for row in rows %}

  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}

  <div{{ row.attributes.addClass(row_classes) }}>
    {{ row.content }}
  </div>

  {# {% if loop.index == 5 and (drupal_view('mensajes_de_portada', 'tercero') | render | striptags | trim != '') %}
    <div class="views-row contenido--mensaje--odd">  
      {{ drupal_view('mensajes_de_portada', 'tercero') }}
    </div>
  {% endif %}

  {% if loop.index == 7 and (drupal_view('mensajes_de_portada', 'cuarto') | render | striptags | trim != '') %}
    <div class="views-row contenido--mensaje--even">
      {{ drupal_view('mensajes_de_portada', 'cuarto') }}
    </div>
  {% endif %} #}

{% endfor %}
