


<h3 class="peque">Responsable del tratamiento de los datos</h3>
<p>Alfonso Gutierrez Díaz, DNI 46029383N (en adelante, MentalStones)<br>
Teléfono: 605849412<br>
Mail: tito@mentalstones.com<br>
Formulario online: <a href="https://mentalstones.com/contact" target="_blank">Enlace</a>
</p>

<h3 class="peque">¿Con qué finalidad tratamos sus datos personales?</h3>
<p>MentalStones trata la información que facilitan las personas interesadas con el fin
de poder ofrecerles un servicio de publicación online de proyectos artísticos de acuerdo
a sus intereses,
</p>

    
<h3 class="peque">Plazo de tratamiento</h3>
<p>Los datos personales proporcionados se conservarán mientras no se solicite su supresión por parte del  
interesado.</p>

<h3 class="peque">Legitimación</h3>
<p>Los datos facilitados por el usuario de MentalStones serán utilizados con diversas finalidades. A continuación, se estructuran estas finalidades en función de las bases que las legitiman:</p>
<p><strong>Consentimiento:</strong></p>
<p>La base legal para el tratamiento de sus datos es el consentimiento otorgado explícitamente
    por el usuario al solicitar la creación de una cuenta en la página web</p>
<p>MentalStones no enviará los boletines (newsletters) expresamente solicitados por el Usuario por correo electrónico, salvo que el Usuario lo consienta o solicite expresamente.</p>     
<p>El consentimiento prestado por el Usuario para estas finalidades será revocable en cualquier momento. Para ello podrá acceder a su área personal y configurar sus preferencias de privacidad, o bien ejercer sus derechos conforme a lo especificado en la presente Política.</p>
<p><strong>Interés legítimo:</strong></p>
<p>MentalStones llevará a cabo estas finalidades, salvo que el Usuario se oponga expresamente:</p>
<ul>
    <li>Enviar información editorial sobre noticias, novedades, nuevas secciones o servicios a los que el Usuario tendrá acceso. Estos envíos se realizarán por por correo electrónico</li>
</ul>
<p><strong>Necesidad:</strong></p>
<p>Estas finalidades son necesarias e imprescindibles para prestar los Servicios solicitados por el Usuario, e incluyen:</p>
<ul>
    <li>Gestionar la solicitud de registro y validar la dirección de correo electrónico.</li>
    <li>Gestionar la participación en comentarios de noticias y en otras herramientas de participación de usuarios</li>
    <li>Gestionar el acceso a los Servicios a través de las credenciales de acceso únicas</li>
</ul>

<h3 class="peque">Datos compartidos con terceros</h3>
<p>MentalStones no cederá los datos personales del Usuario a ningún tercero</p>

<h3 class="peque">Destinatarios de sus datos</h3>
<p>MentalStones contrata su infraestructura virtual según un modelo de “computación en la nube”
    a través de Platform.sh, servicio físicamente ubicado en la Unión Europea y que cumple con el RGPD</p>

<h3 class="peque">¿Cuáles son sus derechos?</h3>
<p>Cualquier persona tiene derecho a:</p>
<ul>
    <li>Obtener confirmaciómn sobre si en MentalStones estamos tratando datos personales que le conciernan</li>
    <li>Acceder a sus datos completos, solicitar su rectificación y supresión</li>
    <li>Solicitar la limitación del tratamiento de sus datos, en cuyo caso únicamente los conservaremos para el ejercicio o defensa de reclamaciones</li>
    <li>Oponerse al tratamiento de sus datos, en cuyo caso dejaremos de usarlos con efecto inmediato, salvo por motivos legítimos imperiosos, o el ejercicio o la defensa de posibles reclamaciones.</li>
</ul>
<p>El ejercicio de estos derechos se podrá realizar trámite vía telefónica, correo electrónico, formulario web (indicados en el primero punto) o a través de la cuenta del propio usuario</p>

<h3 class="peque">¿Cómo hemos obtenido sus datos?</h3>
<p>En el caso de no haberse realizado una inscripción online trámite el formulario
    presente en <a href="https://mentalstones.com/user/register">https://mentalstones.com/user/register</a>, sus datos
    provienen de una cesión legítima realizada por El Estado Mental S.L. 
 </p>
 <p>La categoría de datos que se trata son: direcciones electrónicas. No tratamos datos especialmente protegidos</p>
