{#
/**
 * @file
 * Default theme implementation to display a private message thread.
 *
 * Available variables:
 * - private_message_thread: The private message thread entity
 *    with limited access to object properties and methods.
 * - content: All private message thread items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - last_update: Themed display of the last update time for the thread
 * - url: Direct URL of the current private message thread.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 *
 * @see template_preprocess_private_message()
 *
 * @ingroup themeable
 */
#}

<!-- Frikin' private_message needs to have field__items activated -->
<div class="private-message__thread">
    {{ content.members }}
    {{ content.last_message }}
    {{ content.private_messages }}
</div>
{# <button class="private-message__reply">Responder</button> #}
{% if view_mode != 'full' %}
    <a href="{{ url }}" class="button private-message__link">Ver conversación</a>
{% else %}
    <div class="private-message__form">
        {{ content.private_message_form }}
    </div>
{% endif %}
