{#
/**
 * @file
 * Default theme implementation to display a private message.
 *
 * Available variables:
 * - private_message: The private message entity
 *    with limited access to object properties and methods.
 * - content: All private message items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - url: Direct URL of the current private message.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 *
 * @see template_preprocess_private_message()
 *
 * @ingroup themeable
 */
#}

<div class="private-message__inner{% if content.owner[0]['#user'].id() != user.id  %} private-message__inner--odd{% endif %}">
    <div class="private-message__meta">
        <div class="private-message__who">
            {{ content.owner }}
        </div>
    </div>
    <div class="private-message__content">
        <div class="private-message__when">
            Enviado el {{ content.created }}
        </div>
        {{ content.message }}
    </div>
</div>