{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{{ attach_library('mentalstones/homepage')}}
{{ attach_library('mentalstones/maintenance')}}

<div id="main-wrapper" class="page--noaside">

  <div class="front__layer">
    <header class="header" role="banner">
      <h1 class="logo">
        <a class="logo__eem" href="https://elestadomental.com">
          <img width="32" height="32" src="themes/custom/mentalstones/images/eemlogo.jpg" alt="El Estado Mental">
        </a>
        <a class="logo__ms" href="/">M<span class="logo__ms--hide">ental</span><b>S</b><span class="logo__ms--hide"><b>tones</b></span></a>
      </h1>
      {{ page.header }}
    </header>
  </div>

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      <div class="cuadricula">
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
      </div>
    </div>{# /.layout-content #}

  </main>

</div>{# /.layout-container #}
