{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{{ attach_library('mentalstones/homepage') }}
{{ attach_library('mentalstones/maintenance') }}
{{ attach_library('mentalstones/iframe') }}

<div id="main-wrapper" class="page--noaside">
  <header class="iframe-header" role="banner">
    <h1 class="iframe-logo">
      <!-- <a target="_parent" class="iframe-logo__eem" href="https://elestadomental.com">
        <img width="32" height="32" src="themes/custom/mentalstones/images/eemlogo.jpg" alt="El Estado Mental">
      </a> -->
      <a target="_parent" href="https://mentalstones.com" class="iframe-logo__ms">Mental<b>Stones</b></a>
    </h1>
    <div class="iframe__rrss">
      <a  class="rrss__facebook"
          target="_blank" 
          href="https://facebook.com/sharer/sharer.php?u=http://mentalstones.com">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 24 24"><path d="M18.77 7.46H14.5v-1.9c0-.9.6-1.1 1-1.1h3V.5h-4.33C10.24.5 9.5 3.44 9.5 5.32v2.15h-3v4h3v12h5v-12h3.85l.42-4z"/></svg>
      </a>
      <a  class="rrss__twitter"
          target="_blank" 
          href="https://twitter.com/intent/tweet/?text=El%20Estado%20Mental%20presenta%20Mental%20Stones&amp;url=http://mentalstones.com">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.44 4.83c-.8.37-1.5.38-2.22.02.93-.56.98-.96 1.32-2.02-.88.52-1.86.9-2.9 1.1-.82-.88-2-1.43-3.3-1.43-2.5 0-4.55 2.04-4.55 4.54 0 .36.03.7.1 1.04-3.77-.2-7.12-2-9.36-4.75-.4.67-.6 1.45-.6 2.3 0 1.56.8 2.95 2 3.77-.74-.03-1.44-.23-2.05-.57v.06c0 2.2 1.56 4.03 3.64 4.44-.67.2-1.37.2-2.06.08.58 1.8 2.26 3.12 4.25 3.16C5.78 18.1 3.37 18.74 1 18.46c2 1.3 4.4 2.04 6.97 2.04 8.35 0 12.92-6.92 12.92-12.93 0-.2 0-.4-.02-.6.9-.63 1.96-1.22 2.56-2.14z"/></svg>  
      </a>
      <a  class="rrss__instagram"
          target="_blank" 
          href="https://www.instagram.com/mentalstones/">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M17 1H3c-1.1 0-2 .9-2 2v14c0 1.101.9 2 2 2h14c1.1 0 2-.899 2-2V3c0-1.1-.9-2-2-2zM9.984 15.523a5.539 5.539 0 0 0 5.538-5.539c0-.338-.043-.664-.103-.984H17v7.216a.69.69 0 0 1-.693.69H3.693a.69.69 0 0 1-.693-.69V9h1.549c-.061.32-.104.646-.104.984a5.54 5.54 0 0 0 5.539 5.539zM6.523 9.984c0-1.912 1.55-3.461 3.462-3.461a3.461 3.461 0 1 1 0 6.923 3.461 3.461 0 0 1-3.462-3.462zM16.307 6h-1.615A.694.694 0 0 1 14 5.308V3.691c0-.382.31-.691.691-.691h1.615c.384 0 .694.309.694.691v1.616c0 .381-.31.693-.693.693z"/></svg>      
      </a>
    </div>
    <a target="_parent" href="https://mentalstones.com" class="button iframe-button">Entrar</a>
  </header>

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      <div class="cuadricula">
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <a target="_parent" href="https://mentalstones.com" class="link-layer"></a>
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <a target="_parent" href="https://mentalstones.com" class="link-layer"></a>
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <a target="_parent" href="https://mentalstones.com" class="link-layer"></a>
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <a target="_parent" href="https://mentalstones.com" class="link-layer"></a>
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <a target="_parent" href="https://mentalstones.com" class="link-layer"></a>
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <a target="_parent" href="https://mentalstones.com" class="link-layer"></a>
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <a target="_parent" href="https://mentalstones.com" class="link-layer"></a>
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <a target="_parent" href="https://mentalstones.com" class="link-layer"></a>
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
        <!-- <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div>
        <div class="views-row">
          <div class="contenido contenido--teaser">
            <div class="contenido__inner">
              <div class="contenido__title js-randomcolor" data-colors="#BF2A36/#366273/#D9B26A/#A66832/#5B98A6/#D9C68F/#8C6F6C/#5A708C/#A6633C/#285459/#BFAA6B/#BFB49F/#BF3434/#728C81/#A61731/#D97C2B/#BFA29B/#34592A/#BF889C/#A68B3C/#590902/#487363/#458C72/#33A67C/#3F403B/#A6948D/#D93250/#E7BF5D/#D4AF44/#435B9B/#1F3660/#32170E/#7D3E15/#BF925A/#A67449/#73462D/#8C543F"></div>
            </div>
          </div>
        </div> -->
      </div>
    </div>{# /.layout-content #}

  </main>

</div>{# /.layout-container #}
