{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{{ attach_library('mentalstones/homepage')}}

<div id="main-wrapper" class="page--noaside">

  <div class="front__layer">
    <header class="header" role="banner">
      <div class="front__menu__operations">
        <button class="tooltip__parent menu__open">
          <div class="burguer__wrapper">
            <span class="burguer"></span>
            <span class="burguer"></span>
            <span class="burguer"></span>
            <span class="burguer cross"></span>
            <span class="burguer cross"></span> 
          </div>
          <span class="tooltip tooltip--right">
              {{ "Main Menu" | t }}
          </span>
        </button>
        <div class="tooltip__parent front__user">
          {% if not logged_in %}
            <a href="/user/login">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 28">
                <title>Acceso de usuario</title>
                <path d="M13 8c0-1.656-1.344-3-3-3s-3 1.344-3 3c0 0.453 0.109 0.891 0.297 1.297-0.406-0.187-0.844-0.297-1.297-0.297-1.656 0-3 1.344-3 3s1.344 3 3 3 3-1.344 3-3c0-0.453-0.109-0.891-0.297-1.297 0.406 0.187 0.844 0.297 1.297 0.297 1.656 0 3-1.344 3-3zM26.297 19c0 0.359-1.437 1.797-1.797 1.797-0.406 0-1.672-1.469-2-1.797l-1.5 1.5 3.437 3.437c0.281 0.281 0.438 0.672 0.438 1.062 0 0.875-1 1.875-1.875 1.875-0.391 0-0.781-0.156-1.062-0.438l-10.484-10.484c-1.641 1.219-3.641 2.047-5.703 2.047-3.406 0-5.75-2.359-5.75-5.75 0-5.125 5.125-10.25 10.25-10.25 3.391 0 5.75 2.344 5.75 5.75 0 2.063-0.828 4.062-2.047 5.703l5.547 5.547 1.5-1.5c-0.328-0.328-1.797-1.594-1.797-2 0-0.359 1.437-1.797 1.797-1.797 0.125 0 0.266 0.063 0.359 0.156 0.578 0.578 4.937 4.688 4.937 5.141z"></path>
              </svg>
              <span class="tooltip tooltip--right">
                {{ "Login / Register" | t }}
              </span>
            </a>
          {% else %}
            {% if language.id == 'es'%}
              <a href="/user">
            {% else %}
              <a href="/en/user">
            {% endif %}
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28">
                <title>Mi perfil de usuario</title>
                <path d="M14 0c7.734 0 14 6.266 14 14 0 7.688-6.234 14-14 14-7.75 0-14-6.297-14-14 0-7.734 6.266-14 14-14zM23.672 21.109c1.453-2 2.328-4.453 2.328-7.109 0-6.609-5.391-12-12-12s-12 5.391-12 12c0 2.656 0.875 5.109 2.328 7.109 0.562-2.797 1.922-5.109 4.781-5.109 1.266 1.234 2.984 2 4.891 2s3.625-0.766 4.891-2c2.859 0 4.219 2.312 4.781 5.109zM20 11c0-3.313-2.688-6-6-6s-6 2.688-6 6 2.688 6 6 6 6-2.688 6-6z"></path>
              </svg>
              <span class="tooltip tooltip--right">
                {{ "My profile" | t }}
              </span>
            </a>
          {% endif %}
        </div>
      </div>
      <h1 class="logo">
        <a class="logo__eem" href="https://elestadomental.com">
          <img width="32" height="32" src="themes/custom/mentalstones/images/eemlogo.jpg" alt="El Estado Mental">
        </a>
        <a class="logo__ms" href="/">M<span class="logo__ms--hide">ental</span><b>S</b><span class="logo__ms--hide"><b>tones</b></span></a>
      </h1>
      {{ page.header }}
    </header>

    <div class="front__layer__inner">
      <div class="front__menu">
        {{ page.nav }}
      </div>
    </div>
  </div>

  {{ page.primary_menu }}
  {{ page.secondary_menu }}

  {{ page.breadcrumb }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

  </main>

  {% if page.footer and not is_front %}
    <footer class="page__footer" role="contentinfo">
      {{ page.footer }}
    </footer>
  {% endif %}

  {% if logged_in %} 
    <a target="_blank" href="{% if language == 'en' %}/en/create{% else %}/crear{% endif %}" class="quick-add quick-add--front tooltip__parent">
      +
      <span class="tooltip tooltip--left">
        {{ 'Add new project' | t }}
      </span>
    </a>
  {% endif %}

  <div class="notifications">
    {{ page.notifications }}
  </div>

</div>{# /.layout-container #}
