{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}


{% if content %}
    <button class="menu__open">
        <div class="burguer__wrapper">
        <span class="burguer"></span>
        <span class="burguer"></span>
        <span class="burguer"></span>
        <span class="burguer cross"></span>
        <span class="burguer cross"></span> 
        </div>
    </button>
    <button class="sidebar__hide">
        →
    </button>
    {{ content }}
{% endif %}
